*{margin: 0;padding: 0;border: 0;}
*,*::before,*::after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
html,body{width: 100%;height: 100%;}
body{
background-color: #F2F2F2;;
height: 100%;
line-height: 1;
font-size: 14px;
font-family: 'Montserrat';
font-weight: 400;
color: #4E4E4E;
}
a{
text-decoration: none;
}
ul,
ol,
li {
list-style: none;
}
img{
vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6{
font-weight: inherit;
font-size: inherit;}
* { 
    box-sizing: border-box; 
  }
  body {  
    background: #100000; 
    font-family: Avenir, 
      sans-serif; 
    color: #fff; 
  }
  .wrapper {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    background-position: center;
    }
  /* p { 
    margin-top: 8rem;
    font-size: 1rem;
    color: #777;
  }  */

  div#carousel { 
    perspective: 1200px; 
    background: #100000; 
    padding-top: 5%; 
    font-size:0; 
    margin-bottom: 3rem; 
  }
  figure#spinner { 
    transform-style: preserve-3d; 
    height: 300px; 
    transform-origin: 50% 50% -400px; 
    transition: 1s; 
  } 
  figure#spinner figure { 
    width: 20%; 
    max-width: 500px; 
    position: absolute; 
    left: 40%;
    transform-origin:50% 30% -450px;
    outline:1px solid transparent; 
    overflow: hidden;
    transition: 1s;
  }
  figure#spinner figure.focus { 
    width: 26%; 
    left: 37%; 
    margin-top: -3rem; 
  } 
  figure#spinner figure img { 
    width: 500px; 
    height: 500px;
  } 
  figcaption { 
    position: absolute; 
    top: 100%; 
    width: 100%; 
    padding: .3rem; 
    z-index: 2; 
    font-size: 1.1rem; 
    background: rgba(0, 0, 0, 0); 
    transition: .6s; 
  }
  figure#spinner figure.current:hover figcaption,
  figure#spinner figure.current.caption figcaption
  { 
    top: 90%; 
    background: rgba(0, 0, 0, 0.5); 
    bottom: 0; 
  } 
  div#carousel ~ span { 
    color: #fff; 
    margin: 5%; 
    display: inline-block; 
    text-decoration: none; 
    font-size: 2rem; 
    transition: 0.6s color; 
    position: relative; 
    margin-top: -6rem; 
    /* border-top: none;  */
    line-height: 1; 
   padding-left: 17px;
   padding-top: 10px;
  }
  div#carousel ~ span:hover { 
    color: #888; 
    cursor: pointer; 
    
  }
  .ss-icon{
    position: absolute;
    box-sizing: border-box;
    width: 150px;
    height: 55px;
    border: 2px solid #fff;
    border-radius: 50%;
    top: -55px;
}